body, html {
  height: 100%;
  margin: 0;
  background: #f0f2f5;
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: #ffffff !important;
  border: 1px solid #ccc;
}

.card-header {
  background-color: #1877f2;
  color: white;
  border-radius: 15px 15px 0 0 !important;
  border-bottom: none;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 1px solid #ddd;
  background-color: #f0f2f5;
}

.msg_card_body {
  overflow-y: auto;
  background-color: #f0f2f5;
}

.type_msg {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  color: #000 !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.send_btn {
  background-color: #1877f2 !important;
  border: none !important;
  color: white !important;
  cursor: pointer;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p {
  font-size: 10px;
  color: #dfe3ee;
}

.user_img {
  height: 70px;
  width: 70px;
  border: 2px solid white;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 2px solid #1877f2;
}

.msg_cotainer {
  margin-left: 10px;
  border-radius: 25px;
  background-color: #e4e6eb;
  color: black;
  padding: 10px;
  position: relative;
}

.msg_cotainer_send {
  margin-right: 10px;
  border-radius: 25px;
  background-color: #1877f2;
  color: white;
  padding: 10px;
  position: relative;
}

.msg_time, .msg_time_send {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.msg_time {
  left: 0;
}

.msg_time_send {
  right: 0;
}

.online_icon {
  background-color: #31a24c;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
}

.action_menu {
  background-color: #3b5998;
  color: white;
}

.action_menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
